.Parent-Login {
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1549396535-c11d5c55b9df?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: 100% 100%;
  .Login-Page {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .inputs {
      .inputs-section {
        .remember-me {
          color: #1e1f22;
        }
        .errorText {
          color: #ff1744;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 0.8rem;
          margin-top: 0px;
        }
      }
      .css-mhc70k-MuiGrid-root > .MuiGrid-item {
        padding-top: 0;
      }
      .submit-button {
        background-color: #1976d2;
      }
      .forgot-link {
        color: #1976d2;
      }
      .signup-link {
        color: #1976d2;
      }
    }
  }
  
}

