.app-bar {
  .container-class {
    padding: 0px;
    max-width: none;
    .toolbar-class {
      display: flex;
      margin: 0px 10px 0px 10px;
      justify-content: space-between;
      .logo-class {
        display: flex;
        justify-content: center;
      }
      .dropdown-class {
        display: flex;
        justify-content: flex-end;
        .help-btn {
          margin-right: 20px;
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          text-decoration: none;
        }
        .pro-btn {
          background: #219ad8;
          color: white;
          width: 15%;
          height: 40px;
          margin-top: 5px;
          margin-right: 20px;
          border-radius: 8px;
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          &:hover {
            background: grey;
            color: black;
          }
        }
      }
      .drw-class {
        background-color: #219ad8;
        .drw-cls-content {
          .sidedraw-class {
            display: flex;
            flex-direction: column;
            .list-btns {
              color: black;
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
      .list-buttons {
        .list-items {
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
        }
        .explore-btn {
          font-size: 14px;
          font-family: Arial, Helvetica, sans-serif;
          text-transform: capitalize;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
