@import 'src/styles/main.scss';
.trail-list {
  .container-cls {
    .stack-cls {
      .image-cls {
        img {
          @include sm {
            width: 300px;
          }
        }
      }
    }
  }
  .progress-cls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
