.user-photo-section {
  .photos-section {
    display: flex;
    .upload-btn {
      button {
        min-width: 180px;
        text-transform: capitalize;
      }
    }
  }
  .trail-info-cls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
