@import 'src/styles/main.scss';
.user-photo-section {
  .photos-section {
    display: flex;
    .upload-btn {
      button {
        min-width: 180px;
        text-transform: capitalize;
      }
    }
  }
  .trail-info-cls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .trail-img {
      img {
        height: 100px;
        width: 100px;
        border-radius: 10px;
        object-fit: cover;
        padding-left: 5px;
        @include sm {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}
