.adventure-cls {
    .adventure-tabs-cls {
        .adventure-tabs {
            font-size: 12px;
            font-weight: 600;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }
    .trail-info-cls {
        height: 520px;
        display: flex;
        flex-direction: column;
        flex-wrap:  wrap;
        .trail-info {
            display: flex;
            margin-top: 10px;
            .trail-name {
                margin-left: 10px;
                .trail-title {
                    margin: 0px;
                    font-size: 15px;
                    color: black;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .trail-info {
                    .trail-distance {
                        margin: 0px;
                        font-size: 14px;
                        color: grey;
                        font-family: Arial, Helvetica, sans-serif;

                    }
                    .trail-time {
                        margin: 0px;
                        padding-left: 10px;
                        font-size: 14px;
                        color: grey;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
}