@import 'src/styles/main.scss';
.footer-cls {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-cls {
    margin-top: 40px;
    width: 55%;
    @include sm {
      width: 80%;
    }
    .list-head {
      margin-bottom: 30px;
      border-bottom: none;
      font-size: 18px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
    }
    .list-items {
      margin-bottom: 30px;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      color: grey;
      .link-cls {
        text-decoration: none;
      }
    }
  }
  .footer-connect-section {
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    .appoutdoor-section {
      img {
        height: 40px;
        width: 40px;
        padding-left: 10px;
      }
      .app-outdoor-store {
        .app-store-icons {
          display: flex;
          justify-content: flex-start;
          img {
            object-fit: contain;
          }
        }
      }
      .app-outdoor-sec {
        .app-outdoor-members {
          display: flex;
          justify-content: flex-start;
          img {
            object-fit: contain;
          }
        }
      }
      .connect-grid {
        display: flex;
        justify-content: center;
        img {
          object-fit: contain;
        }
        @include sm {
          display: flex;
          justify-content: flex-start;
        }
        @include md {
          display: flex;
          justify-content: flex-start;
        }
        .app-outdoor {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }
  .footer-signature {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
}
