@import 'src/styles/main.scss';
.footer-cls {
  height: 100%;
  background-color: #fff;
  margin-top: 50px;
  .container-cls {
    .list-head {
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
    }
    .list-items {
      margin-bottom: 30px;
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      color: grey;
    }
  }
  .footer-connect-section {
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    .appoutdoor-section {
        img {
        height: 40px;
        width: 40px;
        padding-left: 10px;
      }
      .app-outdoor-store {
        .app-store-icons {
          display: flex;
          justify-content: flex-start;
        }
       
      }
      .app-outdoor-sec {
        .app-outdoor-members {
          display: flex;
          justify-content: flex-start;
        }
      }
      .connect-grid {
        display: flex;
        justify-content: center;
        @include sm {
        display: flex;
        justify-content: flex-start;
        }
        .app-outdoor {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    
    }
    
  }
  .footer-signature {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
}
