.light-theme {
    --normal-text: #1E1F22;
    --submit-btn: #1976d2;
    --error-text: #ff1744;
    --background-color: #FFFFFF;
    --btn-success: #AFE1AF;
    --btn-danger: #FA8072;
    --color-grey: #808080;
    --color-light-grey: #F8F8F8;
    --color-dark-grey: #A9A9A9;
    --color-side-bar: #ECECEC;
    --color-hover: #773cbd;
    --color-background-hover: #efe1ff;
    
   
}
